/* Basics */
html, body {
	height: 100%;
}

/* Helpers */

/* Aspect ratio to prevent document reflow
Technique from https://justmarkup.com/log/2015/11/definining-aspect-ratio-to-prevent-reflow/ 
AND https://daverupert.com/2015/12/intrinsic-placeholders-with-picture/ */
.aspect-ratio-container {
	height: 0;
	margin: 0 auto;
	padding-top: 70%; /* Default to square */
	position: relative;
	width: 70%;
}

.aspect-ratio-container img {
	border-radius: 10px;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Main UI */

#main-card {
	height: 100%;
}

.id-container {
	display: flex;
  	flex-direction: column;
	margin: 0 auto;
	max-width: 1300px;
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 450px) {
	.id-container {
		width: 90%;
	}
}

@media screen and (min-width: 500px) {
	.id-container {
		width: 70%;
	}
}

@media screen and (min-width: 650px) {
	.id-container {
		width: 60%;
	}
}

@media screen and (min-width: 920px) {
	.id-container {
		width: 50%;
	}
}

@media screen and (min-width: 1200px) {
	.id-container {
		width: 40%;
	}
}

/* Card UI */
#card-content {
	border-top: 1px solid;
	text-align: center;
}

#card-footer {
	padding: 0px 1.5rem;
}

#card-footer button {
	color: #ffffff;
	font-weight: bold;
}

#card-header {
	padding: 1em;
}

#card-header.columns:not(:last-child) {
	margin-bottom: 0px !important;
}

#card-header .tag {
	width: 100%;
} 

#card-header .tag:last-child {
	margin-right: 0px;
}

#content-div {
	font-size: 20px;
}

#content-text {
	align-items: center;
	display: flex;
	height: 120px;
	justify-content: center;
}

/*#persona-div {
	display: flex;
	justify-content: center;
	margin-top: 0.5em;
	margin-bottom: 0.3em;
}

.persona-img {
	border-radius: 10px;
	height: 100%;
	width: 70%;
}
*/
#persona-name {
	text-align: center;
}

.blue-button {
	background: #449DD1;
}

.green-button {
	background: #00BFB2;
}

.red-button {
	background: #D62839;
}

@media screen and (min-width: 600px) {
	#content-text {
		height: 100px;
	}
}


/* Stats UI */
.heading-icon {
	height: 35px;
	margin-right: 5px;
	width: 35px;
}